# Ignore node_modules
node_modules/

# Ignore environment variable files
.env

# Ignore VSCode settings folder
.vscode/

# Ignore Playwright reports
playwright-report/

# Ignore test results
test-results/

allure-report/
allure-results